#navbar-select-website {
    display: flex;
}
.navbar {
    background-color: white !important;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.navbar-img-logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-img-logo {
    width: 105px;
    height: 105px;
}
.navbar-icon {
    width: 30px;
    height: 30px;
}
.navbar-select {
    min-height: 70px;
    background-color: #fff3e0;
    border-bottom: 1px solid #00000040;
}
.navbar-select-item {
    min-height: 70px;
    cursor: pointer;
    padding: 24px;
    transition: background-color 0.3s;
    font-size: 24px;
    font-weight: 500;
}
.navbar-select-item:hover {
    background-color: #ffdeaa;
    padding: 24px;
    border-bottom: 1px solid #00000040;
}
@media only screen and (min-width: 375px) {
    #navbar-select-website {
        display: none;
    }
    #navbar-website {
        display: none !important;
    }
    .navbar-img-logo-mobile {
        width: 80px;
        height: 80px;
    }
}
@media only screen and (min-width: 700px) {
    #navbar-select-website {
        display: none !important;
    }
    #navbar-mobile {
        display: none !important;
    }
    #navbar-website {
        display: flex !important;
    }
    .navbar-menu {
        margin-left: 32px;
        width: 30%;
    }
    #menu {
        cursor: pointer;
    }
    .navbar-img-logo-container {
        padding-left: 0;
        width: 30%;
    }
    .navbar-img-logo {
        width: 80px;
        height: 80px;
    }
    .narbar-action {
        width: 30%;
        height: 80px;
        cursor: pointer;
    }
    .narbar-action-container {
        gap: 34px;
    }
    .navbar-icon {
        width: 30px;
        height: 30px;
    }
}
@media only screen and (min-width: 1400px) {
    .navbar {
        background-color: white !important;
    }
    #navbar-select-website {
        display: flex !important;
    }
    #navbar-mobile {
        display: none !important;
    }
    #navbar-website {
        display: flex !important;
    }
    .navbar-menu {
        display: none !important;
    }
    .navbar-img-logo-container {
        width: auto;
        padding-left: 70px;
    }
}