* {
    padding: 0;
}
@font-face {
    font-family: DBLimx;
    src: url(../assets/fonts/DBLimX/DB\ Lim\ X\ v3.2.ttf);
}
body {
    font-family: "DBLimX", sans-serif;
}
.landing-image {
    width: 100%;
}
.wedding-header {
    height: 200px;
    display: flex;
    align-items: center;
}
.new-arrivals {
    background-color: #fff3e0;
}
.product-section {
    border-radius: 10px;
    border-bottom: 1px solid #00000040;
}
.product-card {
    height: 500px;
    width: 352px;
    background-color: white;
    margin-bottom: 2rem;
    border-bottom: 1px solid #c0c0c0;
}
.product-card-name {
    font-size: 20px;
    font-weight: 700;
    color: #daa520;
    text-align: center;
}
.product-card-price {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.product-card-button {
    width: 149px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 18px;
    background-color: #daa520;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1021;
    cursor: pointer;
}
#overlay.active {
    display: block;
}
#close {
    cursor: pointer;
}
@media only screen and (min-width: 375px) {
    .landing-header {
        font-size: 15px;
        font-weight: 700;
        padding: 46px 0 46px 1.5rem;
    }
    .landing-header-button {
        width: 149px;
        height: 36px;
        border: 0px;
        border-radius: 20px;
        background-color: #daa520;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-left: 57px;
    }
    .new-arrivals-header {
        font-size: 15px;
        font-weight: 700;
    }
    .product-card {
        width: 267px;
        height: 378px;
        border: 1px solid #c0c0c0;
        border-radius: 10px;
    }
    .product-card img {
        border-radius: 10px 10px 0 0;
    }
    .product-card-name {
        font-size: 16px;
        padding: 0 0.5rem 0 0.5rem;
    }
}
@media only screen and (min-width: 700px) {
    .landing-header {
        font-size: 20px;
    }
    .landing-header-button {
        margin-left: 23px;
    }
    .new-arrivals-header {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1400px) {
    .landing-image-container {
        padding: 30px 111px 0 111px;
    }
    .landing-header-container {
        padding-left: 85px;
    }
    .landing-header {
        font-size: 32px;
        font-weight: 700;
    }
    .new-arrivals-header {
        font-size: 32px;
        font-weight: 700;
    }
}
